*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial,sans-serif;
    
}
header{

    display: flex;
    align-items: center;
    justify-content: space-between;
   padding:10px;
   border-radius: 20px;
   
    background-color:#004d40;
    
    }
.logo img{
    
    width: 100px;
}
.link {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap:20px;
}
  .link a{
    color: white;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap:20px;
    }
    .link a:hover{
        color: yellow;
    }

    
  @media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 10px;
    }
}

main{
    padding:10px;
    margin-top:10px ;
}
.about-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.about-content h1 {
    font-size: 2.5rem;
    color: #ff9900;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    color: black;
    
}


.about-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}





@media (max-width: 768px) {
    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
    }

}
.footer {
    
    color: white;
    padding: 40px 20px;
    background-color:#004d40 ;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section h3 {
    font-size: 18px;
    color:white;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin-bottom: 10px;
    color: #ddd;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-link {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #f39c12;
  }
  
  .social-icons img{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    width: 20px;
  }
  
  
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
  }
  .footer-section a{
    color: white;
    text-decoration: none;
  }
  .footer-section a:hover{
    color: yellow;
    text-decoration: none;
  }


